@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

@font-face {
  font-family: 'QuiteMagicalRegular';
  src: url('./fonts/QuiteMagicalRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Faith Collapsing';
  src: url('./fonts/FaithCollapsing.ttf') format('truetype');
}
